.btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2.2px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin: 15px;
}

/* Hover Button Style */
.btn:hover {
  background-color: #0b3d91;
  color: white;
  border: 2.2px solid #0b3d91;
}