@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Container for the entire industries section */
.card-container {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

/* Heading for the industries section */
.container-heading {
    /* display: flex; */
    font-size: 3rem;
    font-weight: 600;
    color: #0b3d91;
    margin-bottom: 30px;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;

}

/* Carousel Wrapper */
.carousel-wrapper {
    width: 100%;
    /* overflow: hidden; */
    position: relative;
    align-items: center;
    padding-bottom: 2rem;
}

/* Slick Carousel Dots Styling */
.slick-dots li button:before {
    font-size: 12px;
    color: #0b3d91;
}

.slick-dots li.slick-active button:before {
    color: #0b3d91;
}

/* Custom arrow styles (optional if you use carousel arrows) */
.slick-prev:before, .slick-next:before {
    color: #0b3d91;
    font-size: 30px;
}

/* Individual Card (inside the carousel) */
.slick-slide > div {
    padding: 0 30px; /* Increased padding for horizontal spacing between cards */
    height: 100%;
}

/* Responsive design for carousel */
@media (max-width: 768px) {
    .container-heading {
        font-size: 2rem;
    }

    .slick-slide > div {
        padding: 0 15px; /* Smaller padding for mobile view */
    }
}

/* Last paragraph styling */
.last_para {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    color: #0b3d91;
    font-family: 'Poppins', sans-serif;
}


.industry-image {
    width: 200px; /* Set appropriate size */
    height: auto;
    margin-top: 10px; /* Space between title and image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

